name: Java Gradle Build (JDK21)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GIT_COMMIT: ${{ github.sha }}
      GIT_BUILDER: "GitHub Actions"
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build
        run: gradle clean build --no-daemon --stacktrace --info

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: craft-engine-build-jdk21
          path: build/libs/*.jar
          retention-days: 7
